__pycache__
domainbed/facebook.py

domainbed/data/*
train_output/*
domainbed/attention/figs/*
domainbed/attention/models_CMNIST/*
domainbed/attention/models_OfficeHome/*
domainbed/attention/models_unused/*
